In [409]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [410]:
data = pd.read_excel('ipl.xlsm')
data

,Jersey No,Player,Matches,Inns,Not Out,Runs,Highest Score,Avg,Balls faced,Strike rate,100s,50s,4s,6s
0,1,KL Rahul,14,14,2,670,132*,55.83,518,129.34,1,5,58,23
1,2,Shikhar Dhawan,17,17,3,618,106*,44.14,427,144.73,2,4,67,12
2,3,David Warner,16,16,2,548,85*,39.14,407,134.64,0,4,52,14
3,4,Shreyas Iyer,17,17,2,519,88*,34.60,421,123.27,0,3,40,16
4,5,Ishan Kishan,14,13,4,516,99,57.33,354,145.76,0,4,36,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,129,Khaleel Ahmed,7,1,0,0,0*,0.00,2,0.00,0,0,0,0
129,130,Arshdeep Singh,8,1,0,0,0*,0.00,3,0.00,0,0,0,0
130,131,Daniel Sams,3,1,0,0,0*,0.00,2,0.00,0,0,0,0
131,132,Shreevats Goswami,2,2,0,0,0*,0.00,4,0.00,0,0,0,0
132,133,Trent Boult,15,1,0,0,0*,0.00,1,0.00,0,0,0,0

Q1. What is the maximum number of matches played by an individual player in a season? Print the player name along with the number of matched played.

Answer:

In [413]:
Max_of_matches_played= data['Matches'].max()
print(Max_of_matches_played)

17

In [414]:
opt = data[(data['Matches']==data['Matches'].max())]
player_name = opt.Player
print('Individuals who played most numbers of matches in the season :')
print(player_name)

Individuals who played most numbers of matches in the season :
1     Shikhar Dhawan
3       Shreyas Iyer
19    Marcus Stoinis
67     Kagiso Rabada
Name: Player, dtype: object

Q2. Top 2 players with maximum Average who have scored atleast 2 half centuries

Answer:

In [417]:
max_avg = data['Avg'].max()
max_avg

101.0

In [418]:
Top_2= data[(data['50s']>2) & (data['Avg']>=50)].head(2)
Top_2

,Jersey No,Player,Matches,Inns,Not Out,Runs,Highest Score,Avg,Balls faced,Strike rate,100s,50s,4s,6s
0,1,KL Rahul,14,14,2,670,132*,55.83,518,129.34,1,5,58,23
4,5,Ishan Kishan,14,13,4,516,99,57.33,354,145.76,0,4,36,30

Q3. Create 2 new columns based on Player name. First column will have first name and second column will have last name. Eg: for the player Shikhar Dhawan, Shikhar will be the first name and Dhawan will be the last name.

Answer:

In [421]:
data[['First name', 'Last name']] = data['Player'].str.extract('(\\w+)\\s*(\\w+)')
data

,Jersey No,Player,Matches,Inns,Not Out,Runs,Highest Score,Avg,Balls faced,Strike rate,100s,50s,4s,6s,First name,Last name
0,1,KL Rahul,14,14,2,670,132*,55.83,518,129.34,1,5,58,23,KL,Rahul
1,2,Shikhar Dhawan,17,17,3,618,106*,44.14,427,144.73,2,4,67,12,Shikhar,Dhawan
2,3,David Warner,16,16,2,548,85*,39.14,407,134.64,0,4,52,14,David,Warner
3,4,Shreyas Iyer,17,17,2,519,88*,34.60,421,123.27,0,3,40,16,Shreyas,Iyer
4,5,Ishan Kishan,14,13,4,516,99,57.33,354,145.76,0,4,36,30,Ishan,Kishan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,129,Khaleel Ahmed,7,1,0,0,0*,0.00,2,0.00,0,0,0,0,Khaleel,Ahmed
129,130,Arshdeep Singh,8,1,0,0,0*,0.00,3,0.00,0,0,0,0,Arshdeep,Singh
130,131,Daniel Sams,3,1,0,0,0*,0.00,2,0.00,0,0,0,0,Daniel,Sams
131,132,Shreevats Goswami,2,2,0,0,0*,0.00,4,0.00,0,0,0,0,Shreevats,Goswami
132,133,Trent Boult,15,1,0,0,0*,0.00,1,0.00,0,0,0,0,Trent,Boult

In [437]:
data[['First name', 'Last name']] = data['Player'].str.split('')
data

ValueError: Columns must be same length as key

Q4. Create a new column (Cleaned_Highest_score) based on Highest score variable. Remove the Asterik(*) mark and convert the data type into INT.

Answer:

In [ ]:
data['Cleaned_Highest_score'] = data['Highest Score'].str.extract('(\\d+)')
data

Q5. Print the total number of centuries scored in the entire season.

Answer:

In [ ]:
Total_100= data['100s'].sum()
Total_100

Q6. Print all the player names whose strike rate is less than the average strike rate of all players in entire season. Print the player name, his strike rate and average strike rate.

Answer:

In [ ]:
Avg_strike_rate = data['Strike rate'].mean()
Avg_strike_rate

In [ ]:
df = data[data['Strike rate']<data['Strike rate'].mean()]
print(df[['Player','Strike rate']])

Q7. Please check the correlation between the features and create a heat map.

Answer:

In [ ]:
col_obj = [i for i in data.columns if data[i].dtypes == 'object']
col_num = [i for i in data.columns if data[i].dtype != 'object']
object_col = data[col_obj]
numeric_col = data[col_num]
numeric_col.corr()

In [ ]:
plt.figure(figsize=(12,8))
sns.heatmap(numeric_col.corr(), cmap ='YlOrBr')

Q8. Check the list of players who has an average greater than 50 as well strike rate above 120. Print player name, average and strike rate.

Answer:

In [ ]:
opt = data[(data['Avg']>=50) & (data['Strike rate']>=120)]
print(opt[['Player','Avg','Strike rate']])

Q9. Please check the list of players who has an average greater than 40 and balls faced above 100. Print player name, average and balls faced.

Answer:

In [ ]:
pt = data[(data['Avg']>=40) & (data['Balls faced']>=100)]
print(pt[['Player','Avg','Balls faced']])

Q10. Players who scored atleast one century in this season. Create visualization.

Answer:

In [ ]:
p100 = data[(data['100s']>0)]
print(p100[['Player','100s']])

In [ ]:
sns.histplot(numeric_col['100s'])

Q11. Players who scored atleast 4 half centuries in this season.

Answer:

In [ ]:
ply = data[(data['100s']>4)]
print(ply[['Player']])

Q12. Check the list of players who hit more than 45 boundaries and more than 10 sixes in this season.

Answer:

In [ ]:
Boun_Sixes = data[(data['4s']>45) & (data['6s']>10)]
print(Boun_Sixes[['Player','4s','6s']])

Q13. Plot a histogram of number of matches played in a season by players.

In [ ]:
sns.histplot(numeric_col['Matches'])

Q14. Plot the histogram of balls faced by players.

Answer:

In [ ]:
sns.histplot(numeric_col['Balls faced'])

Q15. Top 10 players with most runs in a season.

Answer:

In [ ]:
Top= data[['Player','Runs']].head(10)
Top

Q16. Print the players who played the match but didn't get the batting.

Answer:

In [ ]:
didnt_bat = data[(data['Balls faced']<1)]
print(didnt_bat[['Player']])

Q17. Create a new column to show the percentage of total runs scored in 4s and 6s. Then print the top 5 players with maximum percentage.

Answer:

In [ ]:
data['Runs in 4s'] = (data['4s']*4)
data['Runs in 6s'] = (data['6s']*6)
data['%of Runs in 4s'] = (data['Runs in 4s']*100).div(data['Runs'],axis=0)
data['%of Runs in 6s'] = (data['Runs in 6s']*100).div(data['Runs'],axis=0)
top5 = data[['Player','%of Runs in 4s','%of Runs in 6s']].head(5)
top5

Q18. Print the players with top 5 Not out percentages (Not Out percentage can be calculated as number of Not outs divided by Innings).

Answer:

In [ ]:
data['% of not out'] = (data['Not Out']*100).div(data['Matches'],axis=0)
top_fives = data[['Player','% of not out']].head(5)
top_fives

Q19. Create visualization of top 10 players with highest number of sixes.

Answer:

In [ ]:
sns.scatterplot(numeric_col['6s'].head(10))

In [ ]:
data['6s'].max()

Q20. Scatter plot of runs scored by a player v/s balls faced in a season. Then find the relationship between these 2 variables.

Answer:

In [ ]:
sns.scatterplot(numeric_col['Runs'])

In [ ]:
sns.scatterplot(numeric_col['Balls faced'])

from these scatterplot we can drive to the conclusion that highest number of runs scored in the season had faced more  then 500 Balls and total Runs of an individual drops if the number of balls faced is less then 100.
If we comapre with them with players who had faced more 100 balls.

Those who have faced more number of balls here able to score more runs compared to players who faced less number of balls in the saeson.
So, if a player wants to boost his performance with the score sheet, he have to play atleast and more 100 number of balls.